.header{
    color:red;
}
#top{font-size:12px;}
#top .nav-wraper{height:60px !important;font-size: 12px;line-height:60px;border-bottom:1px solid #ccc;}
.nav-wraper ul li{height:60px !important;font-size: 12px;line-height:60px;}
.nav-item{font-size: 18px;color: #0371df;}